### Library Database using Pandas Dataframe

In [1]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('LibraryDatabase.db')

# Define DataFrames with primary keys for each table's data
users_df = pd.DataFrame({
    'id': [1, 2, 3, 5],
    'full_name': ['John Smith', 'Alice Walker', 'Harry Potter', 'Jane Smith'],
    'enabled': ['f', 't', 't', 't'],
    'LastLogin': ['2017-10-25 10:26:10.015152', '2017-10-25 10:26:50.295461', '2017-10-25 10:26:50.295461', '2017-10-25 10:36:43.324015']
})

addresses_df = pd.DataFrame({
    'address_id': [1, 2, 3],
    'user_id': [1, 2, 3],
    'street': ['1 Market Street', '2 Elm Street', '3 Main Street'],
    'city': ['San Francisco', 'San Francisco', 'Boston'],
    'state': ['CA', 'CA', 'MA']
})

books_df = pd.DataFrame({
    'book_id': [1, 2, 3],
    'title': ['My First SQL book', 'My Second SQL book', 'My Third SQL book'],
    'author': ['Mary Parker', 'John Mayer', 'Cary Flint'],
    'publishedDate': ['2012-02-22 12:08:17', '1972-07-03 09:22:45', '2015-10-18 14:05:44'],
    'ISBN': ['981483029127', '857300923713', '523120967812']
})

checkouts_df = pd.DataFrame({
    'checkout_id': [1, 2, 3, 4],
    'user_id': [1, 1, 2, 5],
    'book_id': [1, 2, 2, 3],
    'checkout_date': ['2017-10-15 14:43:18', '2017-10-05 16:22:44', '2017-10-15 11:11:24', '2017-10-15 09:27:07'],
    'return_date': [None, '2017-10-13 13:05:12', '2017-10-22 17:47:10', None]
})

reviews_df = pd.DataFrame({
    'review_id': [1, 2, 3],
    'book_id': [1, 2, 2],
    'reviewer_name': ['John Smith', 'John Smith', 'Alice Walker'],
    'Content': ['Excellent book', 'Best SQL book', '10/10 recommended'],
    'rating': [4, 5, 1],
    'published_date': ['2017-12-10 05:50:11', '2017-10-13 15:05:12', '2017-10-22 23:47:10']
})

logs_df = pd.DataFrame({
    'log_id': [1, 2, 3, 4],
    'checkout_id': [1, 2, 3, 4],
    'timestamp': pd.to_datetime('now')
})

In [3]:
# Create tables in SQLite using pandas
users_df.to_sql('Users', conn, if_exists='replace', index=False);
addresses_df.to_sql('Addresses', conn, if_exists='replace', index=False);
books_df.to_sql('Books', conn, if_exists='replace', index=False);
checkouts_df.to_sql('Checkouts', conn, if_exists='replace', index=False);
reviews_df.to_sql('Reviews', conn, if_exists='replace', index=False);
logs_df.to_sql('Logs', conn, if_exists='replace', index=False);

##### Q1: Find the title, authors and the isbn of the books that ‘John Smith’ has checked out.

In [4]:
# 1. Books checked out by 'John Smith'
books_checked_out = pd.read_sql_query('''
    SELECT Books.title, Books.author, Books.ISBN
    FROM Users
    JOIN Checkouts ON Users.id = Checkouts.user_id
    JOIN Books ON Checkouts.book_id = Books.book_id
    WHERE Users.full_name = 'John Smith';
''', conn)
print("\n--- Books checked out by John Smith ---")
print(books_checked_out)

--- Books checked out by John Smith ---
                title       author          ISBN
0   My First SQL book  Mary Parker  981483029127
1  My Second SQL book   John Mayer  857300923713

##### Q2: Find all reviewers for the book “My Third SQL book”.

In [5]:
# 2. Reviewers for "My Third SQL book"
reviewers = pd.read_sql_query('''
    SELECT Reviews.reviewer_name
    FROM Books
    JOIN Reviews ON Books.book_id = Reviews.book_id
    WHERE Books.title = 'My Third SQL book';
''', conn)
print("\n--- Reviewers for 'My Third SQL book' ---")
print(reviewers)

--- Reviewers for 'My Third SQL book' ---
Empty DataFrame
Columns: [reviewer_name]
Index: []

##### Q3: Find the users that have no books checked out

In [6]:
# 3. Users with no books checked out
users_no_books = pd.read_sql_query('''
    SELECT Users.full_name
    FROM Users
    LEFT JOIN Checkouts ON Users.id = Checkouts.user_id
    WHERE Checkouts.user_id IS NULL;
''', conn)
print("\n--- Users with no books checked out ---")
print(users_no_books)

--- Users with no books checked out ---
      full_name
0  Harry Potter

#### Write a SQL query to show all the records of the logs table

In [7]:
# 4. All records from the Logs table
logs_table = pd.read_sql_query("SELECT * FROM Logs;", conn)
print("\n--- Logs Table ---")
print(logs_table)

# Close connection
conn.close()

--- Logs Table ---
   log_id  checkout_id                   timestamp
0       1            1  2024-11-04 14:48:58.730374
1       2            2  2024-11-04 14:48:58.730374
2       3            3  2024-11-04 14:48:58.730374
3       4            4  2024-11-04 14:48:58.730374